body {
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 1px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.login-box{
    max-width: 300px;
    display: block; 
    margin-left: auto; 
    margin-right: auto
}

.login-height{
    height: 100vh;
}


.fc button {
    background: #6ba5c1;
    color: #fff;
    padding: 10px !important;
    height: auto !important;
}

fc-state-active {
    border: 1px solid #000
}

.fc-toolbar .fc-left {
    margin-left: 15px !important;
}

.fc-toolbar .fc-right {
    margin-right: 15px !important;
}


@media(max-width:767px) {
    .fc-toolbar .fc-center h2 {
        margin-top: 17px !important;
    }
}



@media(max-width: 350px) {
    .fc-toolbar .fc-left {
        margin-left: 1px !important;
    }

    .fc-toolbar .fc-right {
        margin-right: 1px !important;
    }
}



